doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      | Express technology
    nav
      ul
        li Home
        li Router
        li Middleware
        li Database Connectivity
        li Contact Us
    section
      | Welcome to Express Generator!!!
    footer
      | Developed By: Kshitij Gehlot